{% extends 'base.html.twig' %}

{% block title %}Import Data ◈ Wired Beauty{% endblock %}

{% block body %}
    {{ form_start(form_add) }}
        {{ form_row(form_add.file) }}
    {{ form_end(form_add) }}
{% endblock %}
