{% extends 'base.html.twig' %}

{% block title %}Report ◈ Wired Beauty{% endblock %}

{% block body %}
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/plugins/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js"
            integrity="sha512-vCaf5rysVLu1/zVMefJew+IjqlQibggltPWqeo96XsdyJ4ihR3eEDV1oU60afiRXTGf8DqKUjLs2Q99HCbnjAw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>

    <div class="d-sm-flex justify-content-start align-items-center mb-4">
        <h3 class="text-dark mb-0 me-2 switzer text-black"
            style="color: rgb(33,37,41);">
            Report {{ report.name }}
        </h3>


        <a id="downloadPDF">
            <button type="button" class="btn ms-2" style="background-color: #197496; color: white;">Convert To PDF</button>
        </a>
    </div>
    <div class="row justify-content-around">
        {% if zone1 and zone2 %}
        <div id="vivoChart1" style="width: 45%; height: 500px;" class="m-0"></div>
        <script>
            var chartVivo1;
            am5.ready(function() {
                var root = am5.Root.new("vivoChart1");

                root.setThemes([
                    am5themes_Animated.new(root)
                ]);

                var chart = root.container.children.push(am5xy.XYChart.new(root, {
                    panX: true,
                    panY: true,
                    wheelX: "panX",
                    wheelY: "zoomX",
                    pinchZoomX:true
                }));

                var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
                    behavior: "none"
                }));
                cursor.lineY.set("visible", false);

                var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
                xRenderer.labels.template.setAll({
                    rotation: -90,
                    centerY: am5.p50,
                    centerX: am5.p100,
                    paddingRight: 15
                });

                var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
                    maxDeviation: 0.2,
                    categoryField: "time",
                    renderer: xRenderer,
                    tooltip: am5.Tooltip.new(root, {})
                }));

                var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                    renderer: am5xy.AxisRendererY.new(root, {})
                }));

                var series = chart.series.push(am5xy.LineSeries.new(root, {
                    name: "Hydratant",
                    xAxis: xAxis,
                    yAxis: yAxis,
                    valueYField: "value",
                    sequencedInterpolation: true,
                    categoryXField: "time",
                    tooltip: am5.Tooltip.new(root, {
                        labelText:"{valueY}"
                    })
                }));

                chart.set("scrollbarX", am5.Scrollbar.new(root, {
                    orientation: "horizontal"
                }));

                var data = [
                    {
                        time: "t0",
                        value: {{ zone1[0].t0 }}
                    },
                    {
                        time: "tImmediat",
                        value: {{ zone1[0].tImemediat }}
                    },
                    {
                        time: "t7",
                        value: {{ zone1[0].t7 }}
                    },
                    {
                        time: "t14",
                        value: {{ zone1[0].t14 }}
                    }
                ];

                xAxis.data.setAll(data);
                series.data.setAll(data);

                var series = chart.series.push(am5xy.LineSeries.new(root, {
                    name: "Anti-oxydant",
                    xAxis: xAxis,
                    yAxis: yAxis,
                    valueYField: "value",
                    sequencedInterpolation: true,
                    categoryXField: "time",
                    tooltip: am5.Tooltip.new(root, {
                        labelText:"{valueY}"
                    })
                }));

                chart.set("scrollbarX", am5.Scrollbar.new(root, {
                    orientation: "horizontal"
                }));

                var data = [
                    {
                        time: "t0",
                        value: {{ zone1[1].t0 }}
                    },
                    {
                        time: "tImmediat",
                        value: {{ zone1[1].tImemediat }}
                    },
                    {
                        time: "t7",
                        value: {{ zone1[1].t7 }}
                    },
                    {
                        time: "t14",
                        value: {{ zone1[1].t14 }}
                    }
                ];

                series.data.setAll(data);

                var series = chart.series.push(am5xy.LineSeries.new(root, {
                    name: "Barrière",
                    xAxis: xAxis,
                    yAxis: yAxis,
                    valueYField: "value",
                    sequencedInterpolation: true,
                    categoryXField: "time",
                    tooltip: am5.Tooltip.new(root, {
                        labelText:"{valueY}"
                    })
                }));

                chart.set("scrollbarX", am5.Scrollbar.new(root, {
                    orientation: "horizontal"
                }));

                var data = [
                    {
                        time: "t0",
                        value: {{ zone1[2].t0 }}
                    },
                    {
                        time: "tImmediat",
                        value: {{ zone1[2].tImemediat }}
                    },
                    {
                        time: "t7",
                        value: {{ zone1[2].t7 }}
                    },
                    {
                        time: "t14",
                        value: {{ zone1[2].t14 }}
                    }
                ];

                series.data.setAll(data);

                var legend = chart.rightAxesContainer.children.push(am5.Legend.new(root, {
                    width: 125,
                    paddingLeft: 15,
                    height: am5.percent(100)
                }));


                legend.data.setAll(chart.series.values);

                var exporting = am5plugins_exporting.Exporting.new(root, {
                    menu: am5plugins_exporting.ExportingMenu.new(root, {})
                });

                setTimeout(function() {
                    exporting.export("png").then(function(imgData) {
                        chartVivo1 = imgData;
                    });
                }, 2000);

                series.appear(1000);
                chart.appear(1000, 100);
            });
        </script>
        <div id="vivoChart2" style="width: 45%; height: 500px;" class="m-0"></div>
        <script>
            var chartVivo2;
            am5.ready(function() {
                var root = am5.Root.new("vivoChart2");

                root.setThemes([
                    am5themes_Animated.new(root)
                ]);

                var chart = root.container.children.push(am5xy.XYChart.new(root, {
                    panX: true,
                    panY: true,
                    wheelX: "panX",
                    wheelY: "zoomX",
                    pinchZoomX:true
                }));

                var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
                    behavior: "none"
                }));
                cursor.lineY.set("visible", false);

                var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
                xRenderer.labels.template.setAll({
                    rotation: -90,
                    centerY: am5.p50,
                    centerX: am5.p100,
                    paddingRight: 15
                });

                var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
                    maxDeviation: 0.2,
                    categoryField: "time",
                    renderer: xRenderer,
                    tooltip: am5.Tooltip.new(root, {})
                }));

                var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                    renderer: am5xy.AxisRendererY.new(root, {})
                }));

                var series = chart.series.push(am5xy.LineSeries.new(root, {
                    name: "Hydratant",
                    xAxis: xAxis,
                    yAxis: yAxis,
                    valueYField: "value",
                    sequencedInterpolation: true,
                    categoryXField: "time",
                    tooltip: am5.Tooltip.new(root, {
                        labelText:"{valueY}"
                    })
                }));

                chart.set("scrollbarX", am5.Scrollbar.new(root, {
                    orientation: "horizontal"
                }));

                var data = [
                    {
                        time: "t0",
                        value: {{ zone2[0].t0 }}
                    },
                    {
                        time: "tImmediat",
                        value: {{ zone2[0].tImemediat }}
                    },
                    {
                        time: "t7",
                        value: {{ zone2[0].t7 }}
                    },
                    {
                        time: "t14",
                        value: {{ zone2[0].t14 }}
                    }
                ];

                xAxis.data.setAll(data);
                series.data.setAll(data);

                var series = chart.series.push(am5xy.LineSeries.new(root, {
                    name: "Anti-oxydant",
                    xAxis: xAxis,
                    yAxis: yAxis,
                    valueYField: "value",
                    sequencedInterpolation: true,
                    categoryXField: "time",
                    tooltip: am5.Tooltip.new(root, {
                        labelText:"{valueY}"
                    })
                }));

                chart.set("scrollbarX", am5.Scrollbar.new(root, {
                    orientation: "horizontal"
                }));

                var data = [
                    {
                        time: "t0",
                        value: {{ zone2[1].t0 }}
                    },
                    {
                        time: "tImmediat",
                        value: {{ zone2[1].tImemediat }}
                    },
                    {
                        time: "t7",
                        value: {{ zone2[1].t7 }}
                    },
                    {
                        time: "t14",
                        value: {{ zone2[1].t14 }}
                    }
                ];

                series.data.setAll(data);

                var series = chart.series.push(am5xy.LineSeries.new(root, {
                    name: "Barrière",
                    xAxis: xAxis,
                    yAxis: yAxis,
                    valueYField: "value",
                    sequencedInterpolation: true,
                    categoryXField: "time",
                    tooltip: am5.Tooltip.new(root, {
                        labelText:"{valueY}"
                    })
                }));

                chart.set("scrollbarX", am5.Scrollbar.new(root, {
                    orientation: "horizontal"
                }));

                var data = [
                    {
                        time: "t0",
                        value: {{ zone2[2].t0 }}
                    },
                    {
                        time: "tImmediat",
                        value: {{ zone2[2].tImemediat }}
                    },
                    {
                        time: "t7",
                        value: {{ zone2[2].t7 }}
                    },
                    {
                        time: "t14",
                        value: {{ zone2[2].t14 }}
                    }
                ];

                series.data.setAll(data);

                var legend = chart.rightAxesContainer.children.push(am5.Legend.new(root, {
                    width: 125,
                    paddingLeft: 15,
                    height: am5.percent(100)
                }));

                legend.data.setAll(chart.series.values);

                var exporting = am5plugins_exporting.Exporting.new(root, {
                    menu: am5plugins_exporting.ExportingMenu.new(root, {})
                });

                setTimeout(function() {
                    exporting.export("png").then(function(imgData) {
                        chartVivo2 = imgData;
                    });
                }, 2000);

                series.appear(1000);
                chart.appear(1000, 100);
            });
        </script>
        {% endif %}
        {% if report.tubos %}
            <div id="tuboChart" style="width: 95%; height: 600px;" class="m-2"></div>

            <script>
                var chartTubo;
                am5.ready(function() {
                    var root = am5.Root.new("tuboChart");

                    root.setThemes([
                        am5themes_Animated.new(root)
                    ]);

                    var chart = root.container.children.push(am5xy.XYChart.new(root, {
                        panX: true,
                        panY: true,
                        wheelX: "panX",
                        wheelY: "zoomX"
                    }));

                    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
                    cursor.lineY.set("visible", false);

                    var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
                    xRenderer.labels.template.setAll({
                        rotation: -90,
                        centerY: am5.p50,
                        centerX: am5.p100,
                        paddingRight: 15
                    });

                    var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
                        maxDeviation: 0.3,
                        categoryField: "product",
                        renderer: xRenderer,
                        tooltip: am5.Tooltip.new(root, {})
                    }));

                    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                        maxDeviation: 0.3,
                        renderer: am5xy.AxisRendererY.new(root, {})
                    }));

                    var series = chart.series.push(am5xy.ColumnSeries.new(root, {
                        name: "Series 1",
                        xAxis: xAxis,
                        yAxis: yAxis,
                        valueYField: "value",
                        sequencedInterpolation: true,
                        categoryXField: "product",
                        tooltip: am5.Tooltip.new(root, {
                            labelText:"{valueY}"
                        })
                    }));

                    series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5 });
                    series.columns.template.adapters.add("fill", function(fill, target) {
                        return chart.get("colors").getIndex(series.columns.indexOf(target));
                    });

                    series.columns.template.adapters.add("stroke", function(stroke, target) {
                        return chart.get("colors").getIndex(series.columns.indexOf(target));
                    });

                    var data = [
                        {% for tubo in report.tubos %}
                        {% if tubo.name %}
                        {
                            product: '{{ tubo.name }}',
                            value: {{ tubo.score }}
                        },
                        {% endif %}
                        {% endfor %}
                    ];

                    xAxis.data.setAll(data);
                    series.data.setAll(data);

                    var exporting = am5plugins_exporting.Exporting.new(root, {
                        menu: am5plugins_exporting.ExportingMenu.new(root, {})
                    });

                    setTimeout(function() {
                        exporting.export("png").then(function(imgData) {
                            chartTubo = imgData;
                        });
                    }, 2000);

                    series.appear(1000);
                    chart.appear(1000, 100);
                });
            </script>
        {% endif %}
    </div>

    <script>

        function generatePdf() {
            {#var doc = new jsPDF();#}

            {#var specialElementHandlers = {#}
            {#    '#editor': function(element, renderer){#}
            {#        return true;#}
            {#    }#}
            {#};#}

            {#doc.fromHTML(document.querySelector('#pdfCanvas'), 15, 15, {#}
            {#    'width': 170,#}
            {#    'elementHandlers': specialElementHandlers#}
            {#});#}

            {#doc.save('{{ report.name }}.pdf');#}

            // pdfmake is ready
            // Create document template
            var doc = {
                pageSize: "A4",
                pageOrientation: "portrait",
                pageMargins: [30, 30, 30, 30],
                content: []
            };

            doc.content.push({
                text: "Skin-biosense analysis and perception score data.",
                fontSize: 20,
                bold: true,
                margin: [0, 20, 0, 15]
            });

            doc.content.push({
                text: "The following graphics are representative of a product test study focusing on two scores. The bio-skinsense (in tubo) score and the perception score (in vivo) The first graphic is representative of the bio-skinsense score for 10 different cosmetic products and compared as seen below (graph.1) The skin-biosesne score depends on three criteria (graph.2 & graph.3) The first one is the skin ability to fight against external elements — the anti-oxidant score The seconde score is the skin ability to get hydrated —the NMF (Natural Moisturizing Factors ) score. The third score is the skin ability to protect itself — the state of the cutaneous barrier or the barrier score. Those criteria are studies and monitored over a period of time, with each patch teste, the data is automatically updated in the application, and later extracted onto analytics graphics.  As we can see the product seemed to affect each criteria differently, which enables us to set a timeline of the product effect, and define the moment in time a long term effect start to take place. ",
                fontSize: 15,
                margin: [0, 0, 0, 15]
            });

            doc.content.push({
                text: "Skin-biosense 10 product score comparaison",
                fontSize: 20,
                bold: true,
                margin: [0, 20, 0, 15]
            });

            doc.content.push({
                image: chartTubo,
                width: 530
            });

            {% if zone1 and zone2 %}
            doc.content.push({
                text: "",
                fontSize: 20,
                bold: true,
                margin: [100, 100, 100, 100]
            });

            doc.content.push({
                text: "Skin-biosense detailed analysis (anti-oxident, NMF, barrier)",
                fontSize: 20,
                bold: true,
                margin: [0, 20, 0, 15]
            });

            doc.content.push({
                columns: [{
                    image: chartVivo1,
                    width: 250
                }, {
                    image: chartVivo2,
                    width: 250
                }],
                columnGap: 30
            });
            {% endif %}

            pdfMake.createPdf(doc).download("report.pdf");
        }

        document.getElementById('downloadPDF').addEventListener('click', generatePdf);
    </script>
{% endblock %}
