.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .section._1 {
    background-color: #465775;
    color: #fff;
  }
  
  .section._2 {
    background-color: #ef6f6c;
    color: #fff;
  }
  
  .section._3 {
    background-color: #56e39f;
  }
  
  .contact-form {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .contact-form-grid {
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .nav-grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
    -ms-grid-columns: 1fr max-content max-content max-content;
    grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
    grid-template-columns: 1fr max-content max-content max-content;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .nav-logo-link {
    display: block;
    height: 60px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
  }
  
  .nav-logo {
    width: auto;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
  }
  
  .nav-link {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 0px;
    color: #444;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 767px) {
    .contact-form {
      padding: 40px 20px;
    }
  
    .sticky-nav {
      position: relative;
    }
  
    .nav-grid {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 479px) {
    .sticky-nav {
      padding: 0px;
    }
  
    .nav-grid {
      grid-auto-flow: row;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 100px;
      grid-template-rows: 100px;
    }
  
    .nav-logo-link {
      border-top: 1px solid #c4c4c4;
    }
  
    .nav-link {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid #c4c4c4;
    }
  }
  
  #w-node-_51ad688a-b995-daa7-7740-a9ec525b6663-506e7fb0 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
  
  #w-node-ef777dbc-6bc2-ce34-42f6-59cf94dbc1db-506e7fb0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
  
  @media screen and (max-width: 479px) {
    #w-node-_51ad688a-b995-daa7-7740-a9ec525b6663-506e7fb0 {
      -ms-grid-column-align: center;
      justify-self: center;
    }
  
    #w-node-ef777dbc-6bc2-ce34-42f6-59cf94dbc1cb-506e7fb0 {
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
  
    #w-node-ef777dbc-6bc2-ce34-42f6-59cf94dbc1cf-506e7fb0 {
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
  
    #w-node-ef777dbc-6bc2-ce34-42f6-59cf94dbc1d3-506e7fb0 {
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
  
    #w-node-ef777dbc-6bc2-ce34-42f6-59cf94dbc1d7-506e7fb0 {
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
  }