<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet"
                  href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('build/vendors-node_modules_amcharts_amcharts5_plugins_exporting_js-node_modules_symfony_stimulus-br-7d1d12.js') }}"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body id="page-top">
        <div id="wrapper">
            <nav class="navbar navbar-dark shadow-sm align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
                 style="background: #f1f1f1;opacity: 1;">
                <div class="container-fluid d-flex flex-column p-0 h-100 justify-content-between">
                    <div>
                        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                           href="/">
                            <div class="sidebar-brand-icon">
                                <img width="auto"
                                     height="25"
                                     src="{{ asset('images/logo.svg') }}" />
                            </div>
                        </a>
                        <hr class="sidebar-divider my-0"
                            style="width: 0;border-radius: 50px;border-width: 0px;" />
                        {% if is_granted('ROLE_ADMIN') %}

                        <ul class="navbar-nav align-self-start text-light start"
                            id="accordionSidebar"
                            style="height: auto;margin: 0;padding: 0;">
                            <li class="nav-item bar-item">
                                <a class="nav-link switzer regular"
                                   href="{{ path('admin_users') }}"
                                   style="height: auto;padding: 10px;">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="1em"
                                         height="1em"
                                         fill="currentColor"
                                         viewbox="0 0 16 16"
                                         class="bi bi-people">
                                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"></path>
                                    </svg>
                                    <span style="padding-left: 5px;">
                          Users
                        </span>
                                </a>
                            </li>
                            <li class="nav-item bar-item">
                                <a class="nav-link switzer regular"
                                   href="{{ path('app_data_admin') }}"
                                   style="padding: 10px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    </svg>
                                    <span style="padding-left: 5px;">All Reports</span>
                                </a>
                            </li>
                        </ul>
                        {% endif %}

                        {% if is_granted('ROLE_USER') %}
                        <hr style="height: 2px;color: #192396;width: 90%;margin: 0;border-radius: 50px;transform: scale(1);background: #192396;" />
                        <ul class="navbar-nav text-light" id="accordionSidebar-1">
                            <li class="nav-item bar-item">
                                <a class="nav-link switzer regular"
                                   href="{{ path('app_data_user') }}"
                                   style="padding: 10px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    </svg>
                                    <span style="padding-left: 5px;">My reports</span>
                                </a>
                            </li>
                        </ul>
                        {% endif %}

                        <hr style="height: 2px;color: #192396;width: 90%;margin: 0;border-radius: 50px;transform: scale(1);background: #192396;" />
                        <ul class="navbar-nav text-light" id="accordionSidebar-1">
                            <li class="nav-item bar-item">
                                <a class="nav-link switzer regular"
                                   href="https://wired-beauty.webflow.io/"
                                   style="padding: 10px;">
                                    <span style="padding-left: 5px;">Home</span>
                                </a>
                            </li>
                            <li class="nav-item bar-item">
                                <a class="nav-link switzer regular"
                                   href="https://wired-beauty.webflow.io/what-we-do"
                                   style="padding: 10px;">
                                    <span style="padding-left: 5px;">What we do</span>
                                </a>
                            </li>
                            <li class="nav-item bar-item">
                                <a class="nav-link switzer regular"
                                   href="https://wired-beauty.webflow.io/new-device"
                                   style="padding: 10px;">
                                    <span style="padding-left: 5px;">New device</span>
                                </a>
                            </li>
                            <li class="nav-item bar-item">
                                <a class="nav-link switzer regular"
                                   href="https://wired-beauty.webflow.io/who-we-are"
                                   style="padding: 10px;">
                                    <span style="padding-left: 5px;">Who we are</span>
                                </a>
                            </li>
                            <li class="nav-item bar-item">
                                <a class="nav-link switzer regular"
                                   href="https://wired-beauty.webflow.io/job-boards"
                                   style="padding: 10px;">
                                    <span style="padding-left: 5px;">Job board</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                    <ul class="navbar-nav text-light" style="justify-self: end">
                        <li class="nav-item bar-item">
                            <a class="nav-link switzer"
                               href="#">
                                <span class="d-none d-lg-inline text-gray-600 switzer">
                                {{ app.user.name }}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item bar-item">
                            <a class="nav-link switzer regular" href="/logout"
                               style="padding: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="1em"
                                     height="1em"
                                     fill="black"
                                     viewbox="0 0 16 16"
                                     class="bi bi-box-arrow-right fa-sm fa-fw me-2 text-gray-400">
                                    <path fill-rule="evenodd"
                                          d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                                    <path fill-rule="evenodd"
                                          d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                                </svg>&nbsp;Se déconnecter
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <div class="container-fluid mt-3 h-100">
                        {% block body %}

                        {% endblock %}
                    </div>
                </div>
                <footer class="bg-white shadow sticky-footer" style="z-index: 2">
                    <div class="container my-auto">
                        <div class="text-center my-auto copyright switzer">
                            <span>Copyright © Wired Beauty 2022</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
