{% extends 'base.html.twig' %}

{% block title %}Users ◈ Wired Beauty{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="d-sm-flex justify-content-start align-items-center mb-4">
        <h3 class="text-dark mb-0 me-2 switzer bold text-black"
            style="color: rgb(33,37,41);">
            Users
        </h3>

        <a href="{{ path('admin_users_add') }}">
            <button type="button" class="btn ms-2" style="background-color: #192396; color: white;">+ Ajouter</button>
        </a>
    </div>

    <div class="card shadow">
        <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table id="dataTable" class="table my-0">
                <thead>
                <tr class="switzer">
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Role(s)</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr class="switzer">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div class="form-check"><input id="formCheck-1" class="form-check-input" {% if "ROLE_ADMIN" in user.roles %} checked {% endif %} type="checkbox" readonly/><label class="form-check-label" for="formCheck-1">Admin</label>
                            </div>
                            <div class="form-check"><input id="formCheck-1" class="form-check-input" {% if "ROLE_USER" in user.roles %} checked {% endif %} type="checkbox" readonly/><label class="form-check-label" for="formCheck-1">User</label>
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('admin_users_deletion', {id: user.id}) }}">
                                <button class="btn btn-danger" type="button" title="Delete user">
                                    <svg class="bi bi-trash" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                    </svg>
                                </button>
                            </a>
                            <a href="{{ path('admin_users_edit', {id: user.id}) }}">
                                <button class="btn" style="background-color: #e4e5fb" type="button" title="Edit user">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <script>
        let checkboxes = document.querySelectorAll('[type="checkbox"][readonly]');
        Array.from(checkboxes).forEach((element) => {
            element.addEventListener("click", function (e) {
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
